<div class="row">
  <div class="col-md-12 title">
    <h1>Private Events</h1>
      <p>Sign up to join others' events and create your own!</p>
      <a class="btn btn-primary" href="/signup">Sign Up</a>
  </div>
</div>

