<h1>Welcome <%= @user.name %></h1>

<p>Your upcoming events:</p>

<ul class="events">
<%= render 'upcoming' %>
</ul>

<p>Your previous events:</p>

<ul class="events">
<%= render 'previous' %>
</ul>

<%= render 'host' %>
