<h1>Welcome <%= @user.name %></h1>

<p>You are currently hosting:</p>

<ul class="events">
    <% @user.events.each do |event| %>
   <li>
     <%= link_to event.name, event_path(event) %>
       
   </li>
    <% end %>
</ul>

<p>You are currently attending:</p>

<ul class="events">
    <% @attended_events.each do |event| %>
   <li>
     <%= link_to event.name, event_path %>
       
   </li>
    <% end %>
</ul>
