<h1>Welcome <%= @user.name %></h1>

<p>Your upcoming events:</p>

<ul class="events">
<% if @upcoming_events.any? %>
    <% @upcoming_events.each do |event| %>
   <li>
     <%= link_to event.name, event_path(event) %>
       
   </li>
    <% end %>
<% end %>
</ul>

<p>Your previous events:</p>

<ul class="events">
<% if @prev_events.any? %>
    <% @prev_events.each do |event| %>
   <li>
     <%= link_to event.name, event_path(event) %>
       
   </li>
    <% end %>
<% end %>
</ul>

<p>Events you are attending:</p>
<ul class="events">
    <% @attended_events.each do |event| %>
   <li>
     <%= link_to event.name, event_path %>
       
   </li>
    <% end %>
</ul>
