<h1>Events</h1>

<ul class="events">
    <% @events.each do |event| %>
    
    <li>Event: <%= link_to event.name, event_path(event) %> <br>
        Hosted by: <%= link_to event.creator.name, user_path(event.creator) %>
    </li>
    
    <% end %>
</ul>
