@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

body {
    font-family: "Benton Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h1 {
    text-align: center;
}

/* Navigation */

.navbar {
  background-color: white;
  list-style-type: none;
  border: none;
  border-bottom: 1px solid #D2D6DF;
  color: #666a73;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 529px) {
    .navbar {
        height: 120px
    }
    
    .header_right {
        display: block;
    }
}

.navbar ul {
    list-style-type: none;
    //display: inline-block;
}

.header_left, .header_right {
    display: inline-flex;
    float: left;
    padding: 15px;
}

.header_right {
    float: right;
}

.navbar ul li {
    padding-right: 15px;
}

