@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

body {
    font-family: "Benton Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.title {
    text-align: center;
    height: 200px;
    font-size: 1.5em;
    margin: 50px;
    background: lightyellow;
    padding: 20px;
    border-radius: 5px;
}

.title p {
    color: darkolivegreen;
}

/* Navigation */

.navbar {
  background-color: white;
  list-style-type: none;
  border: none;
  border-bottom: 1px solid #D2D6DF;
  color: #666a73;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 551px) {
    .navbar {
        height: 120px
    }
    
    .header_right {
        display: block;
    }
}

.navbar ul {
    list-style-type: none;
    //display: inline-block;
}

.header_left, .header_right {
    display: inline-flex;
    float: left;
    padding: 15px;
}

.header_right {
    float: right;
}

.navbar ul li {
    padding-right: 15px;
}

/* Attendance */

.attending {
    padding-top: 20px;
    border: 1px solid #e8e8e8;
    margin: 25px;
    width: 250px;
    text-align: center;
}
